# Node.js
node_modules/

baileys_auth_info/

# Logs
logs/
*.log
npm-debug.log*
wa-logs.txt

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
.env.*

# Build artifacts
dist/
build/

# IDE specific files (e.g., VS Code)
.vscode/